{% extends "base.html" %}
{% block title %}About Page{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
    {% with message = get_flashed_messages() %}
    {% if message %}
        <div class="flashes">
            <div class="flash">{{ message[0] }}</div>
        </div>
    {% endif %}
    {% endwith %}
    <h1>關於筆者</h1>
    <img src="{{ url_for('static', filename=image_url) }}   " alt="Profile picture" width="200" height="200">
    <div>{{test}}</div>
    <h2 class="title">{{name}}</h2>

    <div class="self_introduce">
        <p>{{introduction}}</p>
    </div>

    <h3>聯絡筆者:</h3>
    <div class="social_media">
        email:{{email}}
    </div>
    {% if current_user.user_id == "coffee" %}
    <a href="{{ url_for('about.editAboutGet') }}">
        <span class="editButton">Edit</span>
    </a>
    {% endif %}

    <script src="static/js/AboutPage.js"></script>
{% endblock body %}