body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #282c34;
    color: #ffffff;
}

.self_introduce {
    background-color: rgb(99, 98, 98);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 600px;  /* 你可以根据需要调整这个值 */
    margin: 10px auto;
}

.editButton {
    position: absolute;
    border-radius: 10px;
    top: 30px;
    right: 15%;
    background-color: rgb(154, 154, 154);
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editButton:hover {
    background-color: gray;
}