{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/post.css')}}">
{% endblock head %}
{% block body %}
    <div>
        <!-- space -->
        <section id='space'>
            <br></br>
            <br></br>
        </section>
        <!-- Content -->
        <section id="content">
            <div class="container">
                <div class="row aln-center">
                    <!-- recommandedArticleList -->
                    <section id="recommandedArticleList" >
                        <th><h1>文章列表</h1></th>
                        {% for post in posts %}
                        <div class="col-4 col-6-medium col-12-small">
                            <section>
                                <header>
                                    <h2>{{ post.title }}</h2>
                                    <tr>
                                    <form action="{{url_for('post.editarticle',id=post.post_id)}}" method="get">
                                        <input type="hidden" value="{{ post.post_id }}">
                                        <button type="submit" id="{{ post.post_id }}" class="submitbutton">編輯</button>
                                    </form></tr>
                                    <tr><form action="{{url_for('post.deletearticle',id=post.post_id)}}" method="get">
                                        <button class="submitbutton" type="submit" >刪除</button>
                                    </form></tr>
                                </header>
                            </section>
                        </div>
                        {% endfor %}
                    </section>
                    <!-- tagArticleList -->
                </div>
            </div>
        </section>
    </div>
{% endblock body %}