{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/HomePage.css')}}">
{% endblock head %}
{% block body %}
{% with messages = get_flashed_messages(category_filter=["login_success"]) %}
{% if messages %}
{% for message in messages %}
<script>
    alert("{{ messages }}");
</script>
{% endfor %}
{% endif %}
{% endwith %}
    <div>
        <!-- space -->
        <section id='space'>
            <br></br>
            <br></br>
        </section>
        <!-- Main Tab -->
        <section id="index_main_tab" class="Main_tab">
            <ul class="Main_tab_index">
                <li id="recommandedArticle"><a href="{{url_for('post.home',style='recommanded_view')}}">推薦</a></li>
                <li id="newestArticle"><a href="{{url_for('post.home',style='new_view')}}">最新</a></li>
                <li id="hotArticle"><a href="{{url_for('post.home',style='hot_view')}}">熱門</a></li>
            </ul>
        </section>
        <!-- Content -->
        <section id="content">
            <div class="container">
                <div class="row aln-center">
                    <!-- recommandedArticleList -->
                    <section id="recommandedArticleList" >
                        {% if style=='recommanded_view' %}
                        <th>推薦文章列表</th>
                        {% endif %}
                        {% if style=='tag_view' %}
                        <th>標籤文章列表</th>
                        {% endif %}
                        {% if style=='new_view' %}
                        <th>最新文章列表</th>
                        {% endif %}
                        {% if style=='hot_view' %}
                        <th>熱門文章列表</th>
                        {% endif %}
                        {% for post in posts %}
                        <div class="col-4 col-6-medium col-12-small">
                            <section>
                                <header>
                                    <a href="{{url_for('post.articleview',id=post.post_id)}}"><h2>{{ post.title }}</h2></a>
                                </header>
                                <p>{{ post.intro }}</p>
                                {% set tag_list = post.tag.split(',') %}
                                {% for tag in tag_list %}
                                <a href="{{url_for('post.tagview',tag=tag)}}">{{ tag }}</a>
                                {% endfor %}
                            </section>
                        </div>
                        {% endfor %}
                    </section>
                    <!-- tagArticleList -->
                </div>
            </div>
        </section>
    </div>
{% endblock body %}