body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  color: #ffffff;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

.self_introduce {
  background-color: rgb(99, 98, 98);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  /* 你可以根据需要调整这个值 */
  margin: 10px auto;
}

.editButton {
  position: absolute;
  border-radius: 10px;
  bottom: 30px;
  right: 15%;
  background-color: rgb(154, 154, 154);
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton:hover {
  background-color: gray;
}

.enroll {
  padding-top: 10px;
  display: flex;
  color: #efd73a;
  text-decoration: none;
}

/* 以下是navbar */
.navbar {
  background-color: #7e7e7e;
  font-size: 0.875rem;
  align-items: center;
  justify-content: flex-start;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 1.25rem;
  line-height: inherit;
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;

}

.navbar-brand:hover {
  background-color: #8d8d8d;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  flex-basis: auto;
  height: 100%;
}

.navbar-collapse ul {
  height: 100%;
  flex-grow: 1;
  display: flex;
  list-style: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  align-items: stretch;
}

.nav-item .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-item :hover {
  background-color: #8d8d8d;
}

/* Main_tab */
.Main_tab ul {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  list-style: none;
  vertical-align: baseline;
  font-size: 16px;
  color: #0a0a0a;
  padding-inline-start: 100px;
  text-align: center;
  font-weight: 500;
}

.Main_tab ul::-webkit-scrollbar {
  display: none;
}

.Main_tab ul li {
  padding: 0px 0px;
  background: #f1f1f1;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.Main_tab ul li:hover {
  background: #24243c;
}

.Main_tab ul li a {
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
}

.Main_tab ul li a:hover {
  color: #f64444;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.ArticleList th {
  font-size: 20px;

}

.ArticleList a {
  color: #efd73a;
  text-decoration: none;
}

.ArticleList a:hover {
  color: #f64444;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* tag_section */
.tag_section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tag_section .header {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: #00ff11;
  text-decoration: none;
}

.tag_section .header:hover {
  background-color: #282c34;
  color: #f64444;
}

.tag_section .tag_list {
  display: flex;
  color: #efd73a;
  text-decoration: none;
  gap: 20px;
}

.tag_section .tag_list:hover {
  color: #f64444;
}

/* article_content */
.article_content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  list-style: none;
  padding-left: 100px;
}

.article_content ul {
  display: grid;
  list-style: none;
}

.article_content h1 {
  margin: 10px;
}

.article_content h2 {
  margin: 10px;
}

.article_content p {
  margin: 10px;
}

.article_content textarea{
  width: 740px;
  height: 200px;
  resize: none;
}
.textarea.no-resize {
  resize: none;
}

.tag_list .tags{
  display: flex;
  gap: 10px;
}