body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #282c34;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c4049;
    padding: 20px;
    border-radius: 10px;
}

label, input, button {
    margin: 10px;
}

.error {
    font-size: 0.8em;
    color: rgb(255, 70, 70);
}