{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
{% endblock head %}
{% block body %}
    <h1>Login Page</h1>
    <form novalidate action="./HomePage.html">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">登入</button>
        <a class="enroll" href="RegisterPage.html">註冊</a>
    </form>
    <script src="./LoginPage.js"></script>
{% endblock body %}