<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <nav class="navbar fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('post.home',style='recommanded_view')}}" id="logo">
                <h1>Blog</h1>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('post.article')}}">發表文章</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('post.edit')}}">編輯文章</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('about.about')}}">關於</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">登出</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">登入</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block body %}

{% endblock body %}
</body>
</html>