{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block body %}
<div>
    <!-- Content -->
    <section class="article_content">
        <div class="container">
            <header>
                <h1>{{ post.title }}</h1>
                <!-- Main Content -->
                {% if current_user.is_authenticated %}
                <section>
                    <p>{{ post.content }}</p>
                    <h2>留言</h2>
                    <ul>
                        {% for comment in comments %}
                        <li>{{ comment.user_id }}：{{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                    <form action="{{url_for('post.articleview',id=post.post_id)}}" method="post">
                        <ulclass="actions">
                            <li>
                                <textarea id="comment" name="comment" required></textarea>
                            </li>

                            <button type="submit" class="submitbutton">發表</button>
                            </ul>
                    </form>
                </section>
                {% else %}
                <p style="margin:10px; padding-left:100px">登入以留言</p>
                {% endif %}
            </header>
        </div>
    </section>
</div>
{% endblock body %}