{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
<div>
    <!-- Content -->
    <section class="content">
        <div class="container">
            <div class="row aln-center">
                <!-- ArticleList -->
                <section class="ArticleList">
                    <th>
                        <h1>文章列表</h1>
                    </th>
                    {% for post in posts %}
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>{{ post.title }}</h2>
                                <a href="{{url_for('post.editarticle',id=post.post_id)}}" class="header">編輯</a>
                                <a href="{{url_for('post.deletearticle',id=post.post_id)}}" class="header">刪除</a>
                            </header>
                        </section>
                    </div>
                    {% endfor %}
                </section>
                <!-- tagArticleList -->
            </div>
        </div>
    </section>
</div>
{% endblock body %}