{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block body %}
{% with messages = get_flashed_messages(category_filter=["login_success"]) %}
{% if messages %}
<script>
    alert("{{ messages[0] | safe }}");
</script>
{% endif %}
{% endwith %}
<div>
    <!-- Main Tab -->
    <section id="index_main_tab" class="Main_tab">
        <ul class="Main_tab_index">
            <li id="recommandedArticle"><a class='href' href="{{url_for('post.home',style='recommanded_view')}}">推薦</a>
            </li>
            <li id="newestArticle"><a class='href' href="{{url_for('post.home',style='new_view')}}">最新</a></li>
            <li id="hotArticle"><a class='href' href="{{url_for('post.home',style='hot_view')}}">熱門</a></li>
        </ul>
    </section>
    <!-- Content -->
    <section class="content">
        <div class="container">
            <div class="row aln-center">
                <!-- recommandedArticleList -->
                <section class="ArticleList">
                    {% if style=='recommanded_view' %}
                    <th>推薦文章列表</th>
                    {% endif %}
                    {% if style=='tag_view' %}
                    <th>標籤文章列表</th>
                    {% endif %}
                    {% if style=='new_view' %}
                    <th>最新文章列表</th>
                    {% endif %}
                    {% if style=='hot_view' %}
                    <th>熱門文章列表</th>
                    {% endif %}
                    {% for post in posts %}
                    <div class="tag_section">
                        <section>
                            <header>
                                <a class="header" href="{{url_for('post.articleview',id=post.post_id)}}">{{ post.title
                                    }}</a>
                            </header>
                            <p>{{ post.intro }}</p>
                            {% set tag_list = post.tag.split(',') %}
                            <div class="tag_list">
                                {% for tag in tag_list %}
                                <a class="tag_list" href="{{url_for('post.tagview',tag=tag)}}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    {% endfor %}
                </section>
                <!-- tagArticleList -->
            </div>
        </div>
    </section>
</div>
{% endblock body %}