{% extends "base.html" %}
{% block title %}About Page{% endblock title %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AboutPage.css') }}">
{% endblock head %}
{% block body %}
    <span class="editButton">Edit</span>
    <h1>About the Author</h1>

    <img src="./author.jpg" alt="Author's portrait" id="author-portrait">

    <h2 class="title">John Doe</h2>

    <div class="self_introduce">
        <p>Hello, I'm John Doe. I'm a software engineer with a passion for coding and problem-solving. I have experience
            in various programming languages and technologies. I love to share my knowledge and learn from others.</p>
    </div>

    <h3>Connect with me:</h3>
    <div class="social_media">
        <a href="https://www.facebook.com/" target="_blank" class="social_media_link">
            <img src="./facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="social_media_link">
            <img src="./instagram.png" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="social_media_link">
            <img src="./linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/" target="_blank" class="social_media_link">
            <img src="./twitter.png" alt="Twitter">
        </a>
    </div>

    <script src="assets/js/AboutPage.js"></script>
{% endblock body %}