{% extends "base.html" %}
{% block title %}Edit Page{% endblock title %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="assets/css/EditAboutPage.css">
{% endblock head %}
{% block body %
    <nav class="navbar fixed-top">
        <div class="container">
            <a class="navbar-brand" href="HomePage.html" id="logo">
                <h1>Blog</h1>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item"><a class="nav-link" href="ArticlePage.html">發表文章</a></li>
                    <li class="nav-item"><a class="nav-link" href="AboutPage.html">關於</a></li>
                    <li class="nav-item"><a class="nav-link" href="LoginPage.html">登入</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Edit Profile</h1>

    <form id="editForm" novalidate>
        <label for="photo">Upload a new photo:</label>
        <input type="file" id="photo" name="photo">

        <label for="title">Edit title:</label>
        <input type="text" id="title" name="title">

        <label for="contact">Edit contact information:</label>
        <input type="text" id="contact" name="contact">

        <label for="introduction">Edit self-introduction:</label>
        <textarea id="introduction" name="introduction"></textarea>

        <button type="submit">Submit</button>
    </form>

    <script src="static/css/EditPage.js"></script>
{% endblock body %}