{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="static/css/HomePage.css" />
{% endblock head %}
{% block body %}
    <div>
        <!-- Main Tab -->
        <section id="index_main_tab" class="Main_tab">
            <ul class="Main_tab_index">
                <li class="Main_tab_list active">推薦</li>
                <li class="Main_tab_list">標籤</li>
                <li class="Main_tab_list">最新</li>
                <li class="Main_tab_list">熱門</li>
            </ul>
        </section>
        <!-- Features -->
        <!-- Content -->
        <section id="content">
            <div class="container">
                <div class="row aln-center">
                    <section>
                        <th>文章列表</th>
                    </section>
                    {% for post in posts %}
                    <div class="col-4 col-6-medium col-12-small">
                        <section>
                            <header>
                                <h2>{{ post.title }}</h2>
                            </header>
                            <p>{{ post.content }}</p>
                        </section>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="static/js/HomePage.js"></script>
{% endblock body %}