{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="static/css/HomePage.css" />
{% endblock head %}
{% block body %}
    <div>
        <!-- space -->
        <section id='space'>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        </section>
        <!-- Main Tab -->
        <section id="index_main_tab" class="Main_tab">
            <ul class="Main_tab_index">
                <li id="recommandedArticle">推薦</li>
                <li id="tagArticle">標籤</li>
                <li id="newestArticle">最新</li>
                <li id="hotArticle">熱門</li>
            </ul>
        </section>
        <!-- Content -->
        <section id="content">
            <div class="container">
                <div class="row aln-center">
                    <!-- recommandedArticleList -->
                    <section id="recommandedArticleList" >
                        <th>推薦文章列表</th>
                        {% for post in posts %}
                        <div class="col-4 col-6-medium col-12-small">
                            <section>
                                <header>
                                    <h2>{{ post.title }}</h2>
                                </header>
                                <p>{{ post.content }}</p>
                            </section>
                        </div>
                        {% endfor %}
                    </section>
                    <!-- tagArticleList -->
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="static/js/HomePage.js"></script>
{% endblock body %}