{% extends "base.html" %}
{% block title %}Registration Page{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/register.css')}}">
{% endblock head %}
{% block body %}
<h1>Registration Page</h1>
    <form novalidate method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.user_id.label }}<br>
            {{ form.user_id(size=32) }}<br>
            {% for error in form.user_id.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    {% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    <script>
        alert("{{ messages[0] }}");
    </script>
    {% endif %}
    {% endwith %}
{% endblock body %}