{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
{% endblock head %}
{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        alert("{{ messages }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Login</h1>
    <form novalidate method='post'>
        {{ form.hidden_tag() }}
        <label for="user_id">Email:</label>
        {{ form.user_id(id='user_id') }}    
        <label for="password">Password:</label>
        {{ form.password(id='password') }}
        <button type="submit">Login</button>
        <a class="enroll" href="{{url_for('auth.register')}}">註冊</a>
    </form>
    <script src="static/js/LoginPage.js"></script>
{% endblock body %}